# SPDX-License-Identifier: MIT
[Unit]
Description=Start GPS after interactive boot

[Timer]
OnBootSec=90s
AccuracySec=1s
Unit=gpsd.service

[Install]
WantedBy=timers.target
